SetEnv ENV_HTACCESS_READING true

RewriteEngine On
RewriteBase /

# fonctionne

# Redirection API
# api/establishements/suites/pictures
# RewriteRule ^api\/(\w+)$ $1/?$2 [NC,QSA,PT]

RewriteRule ^api(\/.*\/?)?\/(\w+)+\/?$ api/$1?$2 [NC,QSA,PT]

RewriteCond %{QUERY_STRING} "(.*)"
RewriteRule ^api/(.*)$ api/index.php?%1 [NC,QSA,L]

# Route admin

# Route Manager

# Route Home


# Route 

RewriteRule ^(.*\/?)?\/(\w+)+\/?$ /$1/?$2 [NC,QSA,PT]

RewriteCond %{QUERY_STRING} "(.*)"
RewriteRule ^(.*)$ index.php?%1 [NC,QSA,L]
